{{ define "header"}}

<header>
    <div class="bg-gray-900 text-white p-4 rounded-2xl container  flex items-center justify-between">
        <div class="flex items-center">
            <a href="#" class="text-xl font-semibold italic">Ostrovskiy</a>
        </div>
        <nav class="space-x-4">
            <a href="#" class="hover:text-gray-300">Домой</a>
            <a href="#" class="hover:text-gray-300">Обо мне</a>
            <a href="#" class="hover:text-gray-300">Сервисы</a>
            <a href="#" class="hover:text-gray-300">Контакты</a>
        </nav>
        <div class="flex items-center space-x-4">
            <a href="#" class="hover:text-gray-300">Войти</a>
            <a href="#" class="bg-blue-800 text-white hover:bg-blue-700 py-2 px-4 rounded-full transition duration-300">Регистрация</a>
        </div>
    </div>
</header>
{{ end }}
