{{ define "footer" }}

<footer class="bg-gray-900 text-white p-4 mt-8">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <p class="cursor-default">&copy; Сайтик сделан by <a href="https://github.com/v7ktory" target="_blank" class="hover:text-gray-300 transition duration-300 italic">V7ktory</a></p>
            <nav class="flex space-x-4">
                <p class="hover:text-gray-300 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">+7 (999) 999-99-99</p>
                <p class="hover:text-gray-300 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">VK</p>
                <p class="hover:text-gray-300 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">TG</p>
            </nav>
        </div>
    </div>
</footer>

{{ end }}
