<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="/ui/static/tailwind.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
</head>
<body class="bg-gray-700 p-0 m-0">

    <!-- Header -->
    <div class="container mx-auto">
        {{ template "header" . }}
    </div>
   <!-- Header -->

   <!-- Signup -->
    <div id="signup" class="container size-72 absolute right-48 z-0">
        {{ template "signup" . }}
    </div>
   <!-- Signup -->

     <!-- Login -->
     <div id="login" class="container size-72 absolute right-48 z-0">
        {{ template "login" . }}
    </div>
   <!-- Login -->

   <!-- Hello -->
   <div class="container mx-auto">
       {{ template "hello" . }}
   </div>
   <!-- Hello -->

    <!-- User info -->
    <div class="container mx-auto mb-20" hx-get="/user-info" hx-trigger="load delay:0s">
        {{ template "user_info" . }}
    </div>
    <!-- User info -->

   <!-- Footer -->
   <div class="fixed bottom-0 w-full">
    {{ template "footer" . }}
   </div>
   <!-- Footer -->

   <script src="/ui/static/error.js"></script>
   <script src="/ui/static/close.js"></script>
</body>
</html>