{{ define "signup" }}

<div class="container mt-2 bg-gray-900 rounded-xl text-white p-4" hx-ext="response-targets" hx-target-4*="#default-error">
    <form hx-post="/auth/signup" hx-trigger="submit" onsubmit="return deleteDefaultError()">

        <h1 id="signupBtn" class="text-2xl text-center">Регистрация</h1>

        <label for="signupName" class="block mt-2">Имя пользователя:</label>
        <input type="text" id="signupName" name="name" class="w-full p-2 border rounded mt-1  text-gray-800" required placeholder="Твоё имя">

        <label for="signupEmail" class="block mt-2">Электронная почта:</label>
        <input type="email" id="signupEmail" name="email" class="w-full p-2 border rounded mt-1  text-gray-800" required placeholder="Твоя почта">

        <div id="default-error" class="text-red-500 mt-1 animate-wiggle animate-infinite animate-duration-5000"></div>

        <label for="password" class="block mt-2">Пароль:</label>
        <input id="signupPassword" type="password" name="password" class="w-full p-2 border rounded mt-1  text-gray-800" minlength="6" required placeholder="Минимум 6 символов">

        <button type="submit" class="mt-4 bg-blue-800 text-white hover:bg-blue-700 py-2 px-4 rounded-full transition duration-300 w-full">Зарегистрироваться</button>
    </form>
    <button id="signup-close" class="absolute top-2 right-2 text-gray-400">x</button>
</div>

{{ end }}