<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твой профиль </title>
    <link rel="stylesheet" href="/ui/static/tailwind.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-700 p-0 m-0">
    
   <!-- Header -->
   <div class="container mx-auto">
        {{ template "profile_header" . }}
   </div>
   <!-- Header -->

   <!-- Profile Info -->
   <div id="profile-info" class="container mx-auto size-72 absolute right-48">
    {{ template "profile_info" . }}
   </div>
   <!-- Profile Info -->

   <!-- Post -->
   <div class="container mx-auto">
    {{ template "profile_todo" . }}
   </div>
   <!-- Post -->

 <!-- Info -->
   <div class="container mx-auto mb-20" hx-get="/profile/get-todos" hx-trigger="load delay:0s">
    {{ template "profile_todo_info" . }}
   </div>
   <!-- Info -->

  <!-- Footer -->
  <div class="fixed bottom-0 w-full h-20">
    {{ template "profile_footer" . }}
   </div>
   <!-- Footer -->
   <script src="/ui/static/window_profile.js"></script>
</body>
</html>